<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
</head>

<body>
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img"/>
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>ChatBot</span>
                            <p>Ask me anything!</p>
                        </div>
                    </div>
                </div>
                <div id="messageFormeight" class="card-body msg_card_body"></div>
                <div class="card-footer">
                    <form id="messageArea" class="input-group">
                        <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off"
                               class="form-control type_msg" required/>
                        <div class="input-group-append">
                            <button type="submit" id="send" class="input-group-text send_btn">
                                <i class="fas fa-location-arrow"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function scrollToBottom() {
        const messageBody = document.getElementById("messageFormeight");
        messageBody.scrollTop = messageBody.scrollHeight;
    }

    $(document).ready(function () {
        $("#messageArea").on("submit", function (event) {
            event.preventDefault();

            const date = new Date();
            const str_time = `${date.getHours()}:${date.getMinutes()}`;
            const rawText = $("#text").val();

            // Show user message
            const userHtml = `
                <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">${rawText}
                        <span class="msg_time_send">${str_time}</span>
                    </div>
                    <div class="img_cont_msg">
                        <img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg">
                    </div>
                </div>`;
            $("#text").val("");
            $("#messageFormeight").append(userHtml);
            scrollToBottom();

            $.ajax({
                data: { msg: rawText },
                type: "POST",
                url: "/get",
            }).done(function (data) {
                let articlesHtml = "<ul class='list-unstyled'>";

                if (data.articles.length === 0) {
                    articlesHtml += "<li>No articles found for your query.</li>";
                } else {
                    data.articles.forEach(article => {
                        articlesHtml += `
                            <li class="mb-3">
                                <strong>📘 ${article.title}</strong><br>
                                <em>👤 ${article.authors}</em><br>
                                📝 ${article.abstract.substring(0, 200)}...<br>
                                🗓️ <small>Published: ${article.published}</small><br>
                                🔗 <a href="https://doi.org/${article.doi}" target="_blank">${article.doi}</a>
                            </li>`;
                    });
                }

                articlesHtml += "</ul>";

                const botHtml = `
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            ${articlesHtml}
                            <span class="msg_time">${str_time}</span>
                        </div>
                    </div>`;
                $("#messageFormeight").append($.parseHTML(botHtml));
                scrollToBottom();
            });
        });
    });
</script>
</body>
</html>
